<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bus Selector - search for trips</title>
    </head>
    <body>
        <h1>Trip details</h1>
        <table>
            <thead>
            <th>From</th>
            <th>To</th>
            <th>On</th>
            </thead>
            <tbody>
            <td th:text="${originStr}"></td>
            <td th:text="${destinationStr}"></td>
            <td th:text="${dateStr}">
            </tbody>
        </table>

        <h1>Ticket Details</h1>
        <table>
            <thead>
            <tr>
                <th>Arrival</th>
                <th>Departure</th>
                <th>Seats left</th>
                <th>Price (EUR)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${trip.arrivalTime}"></td>
                <td th:text="${trip.departureTime}"></td>
                <td th:text="${trip.seatsAvailable} + '/' + ${trip.seatsTotal}"></td>
            </tr>
            </tbody>
        </table>

        <h1>Price</h1>
        <table>
            <thead>
            <th>EUR</th>
            <th>CHF</th>
            <th>CZK</th>
            </thead>
            <tbody>
            <td th:text="${trip.priceEuro}"></td>
            <td th:text="${trip.priceEuro}"></td>
            <td th:text="${trip.priceEuro}"></td>
            </tbody>
        </table>

        <h1>Book</h1>
        <form id="myForm" action="/confirm" method="get">
            <button type="submit">Confirm</button>
        </form>
    </body>
</html>
