<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bus Selector</title>
    </head>
    <body>
    <h1>Cities</h1>
    <select id="originCitySelector">
        <option value="">Select Origin</option>
        <option th:each="city : ${cities}" th:value="${city.cityId}" th:text="${city.name}"></option>
    </select>
    <select id="destinationCitySelector">
        <option value="">Select Destination</option>
        <option th:each="city : ${cities}" th:value="${city.cityId}" th:text="${city.name}"></option>
    </select>
    <form id="myForm" action="/trip-search" method="post">
        <!-- You can include other form fields here if needed -->
        <button type="submit">Search for trips</button>
    </form>
    </body>
</html>
