<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bus Selector</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            function handleClick() {

                const firstName = document.getElementById('firstNameInput').value;
                const lastName = document.getElementById('lastNameInput').value;
                if (firstName.length === 0 || lastName.length === 0) {
                    document.getElementById('errorLabel').innerText = 'first and last names are required!';
                    return;
                }

                const urlParams = new URLSearchParams(window.location.search);
                const url = '/api/ticket?tripId=' + urlParams.get('tripId') +
                    '&date=' + urlParams.get('date') +
                    '&firstName=' + firstName +
                    '&lastName=' + lastName;

                axios.post(url)
                    .then(response => {
                        window.location.href = '/confirm?ticketId=' + response.data['ticketId'];
                    })
                    .catch(error => {
                        document.getElementById('errorLabel').innerText = error;
                    });
            }
        </script>
    </head>
    <body>
        <h1>Trip details</h1>
        <table>
            <thead>
            <th>From</th>
            <th>To</th>
            <th>On</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Seats left</th>
            </thead>
            <tbody>
            <td th:text="${originStr}"></td>
            <td th:text="${destinationStr}"></td>
            <td th:text="${dateStr}">
            <td th:text="${trip.departureTime}"></td>
            <td th:text="${trip.arrivalTime}"></td>
            <td th:text="${trip.seatsAvailable} + '/' + ${trip.seatsTotal}"></td>
            </tbody>
        </table>

        <h1>Price</h1>
        <table>
            <thead>
            <th>EUR</th>
            <th>CHF</th>
            <th>CZK</th>
            <th>HUF</th>
            </thead>
            <tbody>
            <td th:text="${trip.priceEuro * rates['EUR']}"></td>
            <td th:text="${trip.priceEuro * rates['CHF']}"></td>
            <td th:text="${trip.priceEuro * rates['CZK']}"></td>
            <td th:text="${trip.priceEuro * rates['HUF']}"></td>
            </tbody>
        </table>

        <h1>Book</h1>
        <input type="text" id="firstNameInput" value="">
        <input type="text" id="lastNameInput" value="">
        <button onclick="handleClick()">Confirm</button>
        <label id="errorLabel" style="color: red"></label>
    </body>
</html>
