<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bus Selector</title>
    </head>
    <body>
    <h1>Bus Selector</h1>
    <label>Please select origin, destination and date of your trip!</label>
    <form id="myForm" action="/search" method="get">
        <select id="originCitySelector" th:name="from" required="true">
            <option th:each="city : ${cities}" th:value="${city.cityId}" th:text="${city.name}"></option>
        </select>
        <select id="destinationCitySelector" th:name="to" required="true">
            <option th:each="city : ${cities}" th:value="${city.cityId}" th:text="${city.name}"></option>
        </select>
        <input type="date" id="dateSelector" th:name="date" required="true">
        <button type="submit">Search for trips</button>
    </form>
    </body>
</html>
